<section class="new-group-form">
<%= form_with do |form| %>
<ul class="group-form-ul">
  <li class="group-form-ul-li">
    <%= form.label :name, class: "login-field-label font" %>
    <%= form.text_field :name, placeholder: 'e.g Dinner', value: '', class: "group-form-input" %>
  </li>
  <li class="group-form-ul-li">
    <%= form.label :amount, class: "login-field-label font" %>
    <%= form.text_field :amount, placeholder: 'e.g 10', class: "group-form-input" %>
  </li>
  <li>
  <div>
    <%= form.submit %>
  </div>
  </li>
</ul>
<% end %>
</section>
