<%= render partial: "shared/logout", locals: { page: "Transactions" } %>
<p style="color: green"><%= notice %></p>
<div class="transaction-back-div">
  <%= link_to unauthenticated_root_path do %>
  <%= image_tag asset_path('back-arrow.png'), style: "width: 20px" %>
  <% end %>
  </div>
<section class="transaction-container">
  <h1 class="transactions-header"> Total Amount: X</h1>
  <ul class="transaction-ul">
    <li>
      <h1>Group Icon</h1>
      <div>
        <h2>Enity Name: X</h2>
        <h2>Date of transaction</h2>
      </div>
      <div>Transaction Amount</div>
    </li>
    <li>
      <h1>Group Icon</h1>
      <div>
        <h2>Enity Name: X</h2>
        <h2>Date of transaction</h2>
      </div>
      <div>Transaction Amount</div>
    </li>
    <li>
      <h1>Group Icon</h1>
      <div>
        <h2>Enity Name: X</h2>
        <h2>Date of transaction</h2>
      </div>
      <div>Transaction Amount</div>
    </li>
  </ul>
  <div class="add-transaction-div">
    <%= button_to "Create New Transaction", class: "add-transaction" %>
  </div>
</section>

